# 크롤링
- 10,000page를 크롤링
- 2,000page씩 나눠서 실행

In [8]:
import crawling
from concurrent.futures import ThreadPoolExecutor
from concurrent.futures import ProcessPoolExecutor

## 1. 13321068~13323069

In [5]:
%%time
page = 13323069
while page > 13321069:

    page = str(page)
    url = "http://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={}&target=after".format(page)
    
    with ThreadPoolExecutor(max_workers=3) as executor:
        executor.submit(crawling.do_crawl, url)
    
    page = int(page)
    page -= 1

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
Wall time: 3h 10min 49s

## 2. 13319068~13321069

In [4]:
%%time
page = 13321069
while page > 13319069:

    page = str(page)
    url = "http://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={}&target=after".format(page)
    
    with ThreadPoolExecutor(max_workers=3) as executor:
        executor.submit(crawling.do_crawl, url)
    
    page = int(page)
    page -= 1

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '81', '멜로/애정/로맨스', '1')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
Wall time: 3h 56min 18s

## 3. 13317068~13319069

In [3]:
%%time
page = 13319069
while page > 13317069:

    page = str(page)
    url = "http://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={}&target=after".format(page)
    
    with ProcessPoolExecutor(max_workers=3) as executor:
        executor.submit(crawling.do_crawl, url)
    
    page = int(page)
    page -= 1

Wall time: 3h 51min 17s

## 4. 13315069~13317069

In [5]:
%%time
page = 13317069
while page > 13315068:

    page = str(page)
    url = "http://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={}&target=after".format(page)
    
    with ThreadPoolExecutor(max_workers=3) as executor:
        executor.submit(crawling.do_crawl, url)
    
    page = int(page)
    page -= 1

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '10')' at line 1")
Wall time: 3h 55min 56s

## 5. 13313068~13315068

In [7]:
%%time
page = 13315068
while page > 13313067:

    page = str(page)
    url = "http://movie.naver.com/movie/point/af/list.nhn?st=nickname&sword={}&target=after".format(page)
    
    with ThreadPoolExecutor(max_workers=3) as executor:
        executor.submit(crawling.do_crawl, url)
    
    page = int(page)
    page -= 1

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LL BE HERE -미래편-', '애니메이션', '4')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LL BE HERE -미래편-', '애니메이션', '10')' at line 1")
(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '바이: Good & Bye', '드라마', '9')' at line 1")
Wall time: 3h 36min 54s